* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: "theOdin";
    src: url(fonts/Norse-Bold.otf);
    font-style: normal;
    font-weight: bold;
}

main {
    font-family: theOdin;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
}

body {
    background-image: url(assets/background.webp);
}

.logo {
    width: 30%;
    background: rgba(0, 0, 0, 0.445);
    background-repeat: no-repeat;
    display: flex    ;
    margin: 3rem;
}

.logo span {
    font-size: 200px;
}

.rightDiv {
    background-color: black;
    height: 100vh;
    padding: 2rem;

}
.flex {
    display: flex;
    margin-top: 11px;
    margin-bottom: 11px;
}
.leftInputs {
    margin-right: 33px;
}