* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: "theOdin";
    src: url(fonts/Norse-Bold.otf);
    font-style: normal;
    font-weight: bold;
}

main {
    font-family: theOdin;
    color: white;
}

body {
    background-image: url(assets/background.webp);
}

.logo {
    width: 30%;
    background: rgba(0, 0, 0, 0.445);
}

.logo span {
    font-size: 200px;
}